.card-container {
  display: flex;
  flex-wrap: wrap;
}
:host {
  margin: 10px;
  .tp-wrapper {
    perspective: 800px;
  }

  .tp-box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 3rem auto;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  .tp-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
  }
  .tp-box__front {
    background: white;
    border: 1px solid black;
  }
  .tp-box__back {
    border: 1px solid black;
    transform: rotateY(179.9deg);
  }
  .disabledCard {
    pointer-events: noen;
    opacity: 0.5;
  }
}
